* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.name-color {
  color: orange;
}
.First-section {
  display: flex;
  background-image: url(../Images/top-banner.png);
  background-repeat: no-repeat;
}
.section-1-content h3 {
  margin: 10px 0;
}
.section-1-content p {
  margin: 20px 0px 40px 0px;
}
.link-button {
  padding: 10px 30px;
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: white;
  border-radius: 5px;
  font-weight: 700;
}
.section-1-img {
  padding: 3% 2%;
}
.section-1-img img {
  width: 85%;
}
.section-1-content {
  width: 60%;
  padding: 5% 5%;
}
/* section one end */

/* second section  started*/

.second-section {
  display: flex;
  background-image: url(../Images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.section-2-img {
  width: 50%;
}
.section-2-img img {
  width: 90%;
}
.section-2-content {
  margin-top: 55px;
  padding: 5% 1%;
  width: 50%;
}
.section-2-content p {
  margin: 10px 0px 30px 0px;
}
/* second section end */

/* Third section staeted */
.third-section-h1 {
  margin-bottom: 3%;
  text-align: center;
}
.third-section-main {
  background-image: url(../Images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}
.third-section {
  display: flex;
}
.third-section h2 {
  font-size: 38px;
}
.third-section h3 {
  padding: 3% 0;
  color: orange;
}
.section-3-content1 {
  padding: 8% 2%;
  width: 50%;
  border-left: 7px solid;
  box-shadow: 5px 7px 40px grey;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
  margin-left: 5%;
}
.section-3-content2 {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 8% 2%;
  border-left: 7px solid;
  box-shadow: 5px 7px 40px grey;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
/* third section ended */
footer p {
  text-align: center;
  padding: 2% 0;
}
